<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
</head>
<body>
    <h1>Welcome to the Owner Dashboard</h1>
    <p>Hello, {{ request.user.username }}!</p>
    <p>You are the owner of the following staff members:</p>
    <ul>
        {% for staff in staffs %}
            <li>{{ staff.user.user.username }}</li>
        {% endfor %}
    </ul>
    <a href="/add_staff">Add More staff members</a> <br>
    <a href="/documents">See all the documents</a> <br>
    <a href="/logout">Logout</a>
</body>
</html>
